.productItem{
    margin-bottom: 20px;
}

.productImg{
    height: 300px;
    margin: 0 auto;
    object-fit: contain;
}

.productOvRattingIn{
    color: rgb(255, 200, 129);
}
.productOvRattingOut{
    color: rgb(100, 100, 100);
}
/* 
.productAddToCartBtn{
    width: 100px !important;
    height: 30px !important;
} */