
.signInMain{
    width: 100%;
    margin-bottom: 8vh;
}

.signInContainer{
    width: 25%;
    margin: 0 auto;
}

.signInForm{
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
}

.signInInput{
    width: 100%;
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid #A6A6A6;
}


.signInInput:focus{
    border: 1px solid #ff8b1e;
    box-shadow: 0 0 5px 0px #ff8100;
}

.signInFormChanger span{
    color: rgb(255, 155, 6);
    cursor: pointer;
}