.admin-header-nav-items > li > a{
    padding: 8px !important;
    border-radius: 50% !important;
}


.dropdown-menu .list-group{
    border-radius: 0 !important;
}

.dropdown-menu .list-group-item{
    border: none;    
    border-bottom: 1px solid #aaa !important;
}

.dropdown-menu .list-group-item:active{
    background-color: #0D6EFD !important;
    color: #fff !important;
}

.dropdown-menu .list-group-item:last-child{
    border-bottom: none !important;
}

.header-search-icon-item{
    background-color: #fff !important;
    border-radius: 20px 0 0 20px !important;
}

.header-search-input{
    border-radius: 0 20px 20px 0 !important;
    border-left: none !important;
}










